.event-list-wrapper {
    padding: 2rem;
    text-align: center;
    background-color: #f9f9f9;
    min-height: 100vh;
    box-sizing: border-box;
}

.event-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
    max-width: 1300px;
    margin: 0 auto;
    padding: 1rem;
    box-sizing: border-box;
}
